<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Across</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <div id="Sidenav" class="sidenav">
        <div class="navs" style="margin-top: 60px;">
            <a href="/">Главная страница</a>
            <a href="/categories">Категории</a>
            <a href="/new">Новинки</a>
            <a href="/liked">Нравится</a>
            <a href="/login">Профиль</a>
        </div>
    </div>
    <div class=" container d-flex py-3 mb-4">
        <div class="me-auto p-2 bd-highlight">
            <ul class="nav nav-pills" onclick="openNav()">
                <li class="nav-item">
                    <a class="header-logo">
                        <img class="nav-img" src="/static/images/across-logo-full.png" alt="Across">
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <ul class="nav nav-pills">
                <div class="search-icon">
                    <img class="search-icon" src="/static/images/search-icon.png" alt="icon">
                </div>
                <div class="search-input">
                    <input type="text" class="search">
                </div>
                <div class="settings">
                    <img class="settings-icon" src="/static/images/settings-icon.png" alt="settings-icon">
                </div>
            </ul>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<!-- JavaScript Bundle with Popper -->
<script src="/static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>