<div class="carousel-item">
                <div class="d-block w-100">
                    <div class="container">
                        <div class="d-flex justify-content-center"
                             style="position: relative;height:375px;top: 30px; width: 100%; margin: 0 auto;">
                            <div class="container">
                                <div class="item-title"
                                     style="
                             font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 20px;line-height: 24px;color: #000000;">
                                    Кроссовки Серые
                                </div>
                                <div class="item-name"
                                     style="
                             font-family: Montserrat;font-style: italic;font-weight: 400;font-size: 20px;line-height: 24px;color: #000000;">
                                    Nike
                                </div>
                                <div class="item-price" style="position: relative;top: 45px
                        ;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 20px;line-height: 24px;color: #9B9B9B;">
                                    4340₽
                                </div>
                            </div>
                            <div class="flex-grow-1 bd-highlight">
                                <div class="item-fluid"
                                     style="position: relative;top: 30px;width: 100%; height:auto;">
                                    <img class="img-fluid" src="static/images/v6_500.png" alt="...">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>