<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <title>Document</title></head>
<body>
<div class="v6_484">
    <div class="v6_485"></div>
    <div class="v6_486"></div>
    <div class="name"></div>
    <div class="v6_488"></div>
    <div class="name"></div>
    <div class="name"></div>
    <div class="v6_491">
        <div class="v6_492"></div>
        <span class="v6_493">Кроссовки
Черные
Nike

</span><span class="v6_494">3640₽</span><span class="v6_495">3240₽</span>
        <div class="v6_496"></div>
    </div>
    <div class="v6_497">
        <div class="v6_498"></div>
        <span class="v6_499">Обувь</span>
        <div class="v6_500"></div>
    </div>
    <span class="v6_501">Специально для вас</span><span class="v6_502">Категории</span>
    <div class="v6_503"></div>
    <div class="v6_504"></div>
    <span class="v6_505">Новинки</span>
    <div class="name"></div>
    <div class="v6_507"></div>
    <div class="v6_508">
        <div class="v6_509"></div>
        <span class="v6_510">Кроссовки
Рыжие
Nike

</span><span class="v6_511">4120₽</span>
        <div class="v6_512"></div>
    </div>
    <div class="v15_4"></div>
</div>
</body>
</html>