<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<main>
    <div class="flex-column">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="d-flex bd-highlight" style="background-color: #F8F8F8;">
                <div class="me-auto p-2 bd-highlight" style="position: relative;left: 24px;top:30px;z-index:10">
                    <a href="/" alt="..." style="text-decoration: none;">
                        <img src="/static/images/Arrow1.png" alt="...">
                    </a>
                </div>
                <div class="p-2 bd-highlight" style="position: relative;right: 24px;top:30px;z-index:10">
                    <img src="/static/images/image25.png" alt="...">
                </div>
            </div>
            <div class="carousel-inner" style="background-color: #F8F8F8; height:210px;">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="/static/images/{{ images[0] }}" alt="..."
                             style="width:65%;position:relative;top:-35px">
                    </div>
                </div>
                {% for i in range(1, len - 1) %}
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="/static/images/{{ images[i] }}" class="d-block" alt="..."
                             style="width:65%;position:relative;top:-35px">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center" style="position: relative;top:10px;">
            <div class="flex-column">
                <div class="item-title"
                     style="font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 20px;line-height: 24px;color: #000000;">
                    {{ item.title }}
                </div>
                <div class="d-flex justify-content-center">
                    <div class="item-name"
                         style="font-family: Montserrat;font-style: italic;font-weight: 400;font-size: 20px;line-height: 24px;color: #000000;">
                        {{ item.name }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="item-price" style="position: relative;top:40px;
                            font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 24px;line-height: 29px;color: #000000;">
                        {{ item.price }}₽
                    </div>
                </div>
            </div>
        </div>
        <p class="size-text">Размер</p>
        <div class="d-flex justify-content-center">
            <div class="sizes">
                <div id="chosen-btn"><span id="chosen-text">36</span></div>
                {% for el in sizes %}
                <button type="checkbox" id="{{ el }}" class="btn-sizes" onclick="chosen({{ el }}, {{ sizes[0] }})">{{ el
                    }}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample" style="position:relative;top:150px">
            <div class="accordion-item" style="background: transparent;">
                <h2 class="accordion-header" id="flush-headingOne">
                    <p class="accordion-button-1 collapsed" data-bs-toggle="collapse"
                       data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                       style="font-family: Montserrat;font-style: normal;font-weight: 500;font-size: 16px;line-height: 20px;color: #000000;">
                        Описание товара
                    </p>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"
                         style="background: #F8F8F8;border-radius: 22px;font-family: Montserrat;font-style: normal;font-weight: 300;font-size: 16px;line-height: 20px;text-align: center;color: #000000;">
                        {{ item.description }}
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post" class="d-flex justify-content-center" style="position: relative;top:170px">
            {{ form.hidden_tag() }}
            <div class="flex-column">
                {{ form.submit(type="submit", class="submit-btn", style="margin-top:20px;") }}
                <div style="width:100%;height:30px"></div>
            </div>
        </form>
    </div>
</main>
<script src="/static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script>
    var x = document.getElementById("chosen-btn");
    var z = document.getElementById("chosen-text");
    function chosen(size, min){
        var size = size;
        var min = document.getElementById(min).getBoundingClientRect().left;
        z.textContent = size;
        x.style.left = document.getElementById(size).getBoundingClientRect().left - min + "px";
    }






</script>
</body>
</html>