<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<main>
    <div class="logo" style="height: 320px; width: 100%" id="logo">
        <div class="d-flex justify-content-center" style="position: relative;top:98px">
            <div class="flex-column">
                <a href="/" alt="..." style="position:relative; left:26px">
                    <img src="/static/images/logo_1.png" alt="...">
                </a>
                <p style="position: relative;top:5px;font-family: Montserrat;font-style: normal;font-weight: bold;
                font-size: 30px;line-height: 37px;text-align: center;color: #000000;">
                    ACROSS</p>
            </div>
        </div>
    </div>
    <div class="form-box" id="form-box">
        <div class="d-flex justify-content-center">
            <div class="flex-column">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row" class="button-box">
                        <div id="btn"></div>
                        <button class="toggle-btn" id="log" type="button" onclick="login()">ВОЙТИ</button>
                        <button class="toggle-btn" id="register" type="button" onclick="register()">РЕГИСТРАЦИЯ</button>
                    </div>
                </div>
                <form id="login" class="group" name="form-name" value="login">
                    <div class="flex-column">
                        <input class="form-control" type="email" id="floatingInput" placeholder="E-mail">
                        <input class="form-control" type="password" id="floatingPassword" placeholder="Пароль">
                        <div class="d-flex justify-content-center" style="position: relative;top:128px;height:60px">
                            <button class="submit-btn" type="submit">Войти</button>
                        </div>
                    </div>
                </form>
                <form id="signup" class="group" name="form-name" value="signup">
                    <div class="flex-column">
                        <p style="font-family: Montserrat;font-style: normal;font-weight: bold;font-size: 25px;line-height: 30px;color: #000000;">
                            Регистрация</p>
                        <input class="form-control" type="name" placeholder="Имя" style="position: relative;top:20px;">
                        <input class="form-control" type="email" placeholder="E-mail" style="position: relative;top:20px;">
                        <input class="form-control" type="password" placeholder="Пароль" style="position: relative;top:20px;">
                        <input class="form-control" type="phone" placeholder="Телефон" style="position: relative;top:120px;">
                        <div class="d-flex justify-content-between" style="position: relative;top:160px;">
                            <label class="form-check-label" style="position: relative;left:5px;">Получать уведомления на номер телефона<br>о состоянии вашего
                                товара</label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center" style="position: relative;top:262px;height:60px">
                            <button class="submit-btn" type="submit">Регистрация</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</main>
<script src="/static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script>
    var x = document.getElementById("login");
    var y = document.getElementById("signup");
    var z = document.getElementById("btn");
    var form = document.getElementById("form-box");
    var rect = document.getElementById("btn").getBoundingClientRect();
    var logo = document.getElementById("logo");

    function register(){
        logo.style.height = "42px";
        form.style.height = "770px";
        x.style.top = "870px";
        y.style.top = "-130px";
        z.style.left = rect.left + 151 + "px";

    }
    function login(){
        logo.style.height = "320px";
        form.style.height = "492px";
        form.style.top = "0";
        x.style.top = "30px";
        y.style.top = "300px";
        z.style.left = rect.left + "px";
    }



</script>
</body>
</html>